@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    /* colors  */
    --blue: #266DD3;
    --blue-grey: #9CADCE;
    --blue-grey-bg: #9cadce26;
    --blue-light: #4BC0D9;
    --black: #000000;
    --black-low: #727272;
    --black-low-text: #222222;
    /* colors  */
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.container {
    width: 98vw;
    height: auto;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 40px 0;
}

.header-title-container {
    width: max-content;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.header-title {
    font-size: 18px;
    color: var(--black);
    text-transform: capitalize;
    text-align: center;
    margin: 0;
}

.header-title-upscale {
    font-size: 22px !important;
    color: var(--blue-light) !important;
}

.header-credit-instructions-container {
    width: max-content;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.header-credit-instructions {
    color: var(--black-low);
    font-size: 12px;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
}

.header-credit-instructions-link {
    font-size: inherit;
    text-decoration: none;
    color: var(--blue);
    transition: all 75ms linear;
}

.header-credit-instructions-link:hover {
    color: var(--blue-light);
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
    position: relative;
    overflow: clip;
}

.ucg-customizer-container {
    width: 500px;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    border-top-right-radius: 0;
    box-sizing: border-box;
    padding: 0 20px;
    position: relative;
    z-index: 50;
}

.ucg-customizer-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue-grey-bg);
    z-index: -10;
}

.side-menu-hide {
    left: 0;
}

.ucg-customizer-controler-show-toggler {
    width: 35px;
    aspect-ratio: 1/1;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: var(--blue-grey-bg);
}

.ucg-customizer-controler-show-toggler-icon {
    width: 80%;
    color: var(--blue-grey);
}

.ucg-customizer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 0;
}

.ucg-previewer-container {
    min-width: 55%;
    flex: 1;
    height: max-content;
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.ucg-previewer {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.ucg-previewer-animation-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.ucg-previewer-animation-selector-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 20px 0;
}

.ucg-previewer-animation-selector-label {
    font-size: 16px;
    text-transform: capitalize;
}

.ucg-previewer-animation-selector {
    background-color: transparent;
    border: 1px solid var(--blue-grey);
    border-radius: 5px;
    padding: 5px 35px 5px 5px;
    font-size: 14px;
}

.ucg-previewer-animation {
    max-width: 300px;
    width: 90%;
    aspect-ratio: 2/1;
}

.ucg-previewer-spritesheet-container {
    max-width: 90%;
    width: 832px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.ucg-previewer-spritesheet-instructions-container {
    max-width: 100%;
    width: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ucg-previewer-spritesheet-instructions {
    font-size: 14px;
    color: var(--black-low);
    text-align: center;
}

.ucg-previewer-spritesheet {
    width: 100%;
    aspect-ratio: 13/21;
}

.ucg-customizer-chooser {
    width: 100%;
    overflow-y: scroll;
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.ucg-customizer-controler-btns-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 0 10px 0;
}

.ucg-customizer-controler-btn {
    background-color: white;
    color: var(--black-low-text);
    border: 1px solid var(--blue-grey);
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 12px;
    margin-top: 5px;
    transition: all 75ms linear;
}

.ucg-customizer-controler-btn:hover {
    background-color: var(--blue);
    color: white;
}

.ucg-customizer-controler-search-format-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ucg-customizer-controler-searchbar {
    flex: 1;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ucg-customizer-controler-compact-toggler {
    width: 60px;
    height: 30px;
    margin: 0 5px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--blue-grey);
    position: relative;
}

.ucg-customizer-controler-search-input {
    width: 100%;
    height: 30px;
    font-size: 12px;
    color: var(--black-low-text);
    box-sizing: border-box;
    padding: 0 35px 0 5px;
    background-color: var(--blue-grey-bg);
    border-radius: 5px;
    border: none;
    transition: all 75ms linear;
}

.ucg-customizer-controler-search-input:focus {
    outline: 1px solid var(--blue-grey);
}

.ucg-customizer-controler-search-btn {
    position: absolute;
    top: 0;
    right: 5px;
    height: 30px;
    aspect-ratio: 1/1;
    color: var(--blue-grey);
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ucg-customizer-controler-search-icon {
    aspect-ratio: 1/1;
    width: 80%;
}

.ucg-customizer-controler-compact-toggler-checkbox {
    opacity: 0;
    position: absolute;
    z-index: -10;
    pointer-events: none;
}

.ucg-customizer-controler-compact-toggler-btn {
    width: 50%;
    height: 100%;
    border: none;
    background-color: white;
    color: var(--black-low-text);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 75ms linear;
}

.ucg-customizer-controler-compact-toggler-btn:hover {
    background-color: var(--blue-grey-bg);
}

.ucg-customizer-controler-compact-toggler-btn-icon {
    width: 80%;
    aspect-ratio: 1/1;
    color: inherit;
    pointer-events: none;
}

.ucg-customizer-controler-expand-btn {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.ucg-customizer-controler-compact-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.control-active {
    background-color: var(--blue) !important;
    color: white !important;
}

.ucg-customizer-chooser-title {
    font-size: 16px;
}

.ucg-customizer-chooser-list {
    padding-left: 20px;
    position: relative;
    height: auto;
    display: flex;
}

.ucg-customizer-chooser-list {
    display: none;
    width: 100%;
}

.ucg-customizer-chooser-list-preview .ucg-customizer-chooser-list-item {
    display: inline-block;
}

.ucg-customizer-chooser-list-main {
    display: block !important;
}

.ucg-customizer-chooser-list-visible {
    width: max-content;
    display: block;
}

.ucg-customizer-chooser-list::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: var(--blue-grey);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.ucg-customizer-chooser-list-title {
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    transition: all 75ms linear;
}

.ucg-customizer-chooser-list-title::after {
    content: "";
    width: 18px;
    aspect-ratio: 1/1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M10.46 18a2.23 2.23 0 0 1-.91-.2a1.76 1.76 0 0 1-1.05-1.59V7.79A1.76 1.76 0 0 1 9.55 6.2a2.1 2.1 0 0 1 2.21.26l5.1 4.21a1.7 1.7 0 0 1 0 2.66l-5.1 4.21a2.06 2.06 0 0 1-1.3.46'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    transition: all 75ms linear;
}

.ucg-customizer-chooser-list-title:hover {
    transform: scale(1.1);
    color: var(--blue);
}

.ucg-customizer-chooser-list-title:hover::after {
    transform: translateY(-50%) scale(1.1);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23266DD3' d='M10.46 18a2.23 2.23 0 0 1-.91-.2a1.76 1.76 0 0 1-1.05-1.59V7.79A1.76 1.76 0 0 1 9.55 6.2a2.1 2.1 0 0 1 2.21.26l5.1 4.21a1.7 1.7 0 0 1 0 2.66l-5.1 4.21a2.06 2.06 0 0 1-1.3.46'/%3E%3C/svg%3E");
}

.ucg-customizer-chooser-list-item {
    list-style: none;
}

.ucg-customizer-chooser-list-title.expanded::after {
    transform: translateY(-50%) rotate(90deg);
}

.ucg-customizer-chooser-option-no-preview {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3px 5px 3px 30px;
    margin: 1px 0;
    border: 1px solid transparent;
    transition: all 75ms linear;
}

.ucg-customizer-chooser-option-no-preview::before {
    content: "";
    position: absolute;
    width: 18px;
    aspect-ratio: 1/1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%239cadce26' d='M12.003 21q-1.866 0-3.51-.708q-1.643-.709-2.859-1.924t-1.925-2.856T3 12.003t.708-3.51t1.924-2.859t2.856-1.925T11.997 3t3.51.708t2.859 1.924t1.925 2.856t.709 3.509t-.708 3.51t-1.924 2.859t-2.856 1.925t-3.509.709'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 75ms linear;
}

.ucg-customizer-chooser-option-no-preview:hover {
    border: 1px solid var(--blue-grey);
}

.ucg-customizer-chooser-option-no-preview:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%239CADCE' d='M12.003 21q-1.866 0-3.51-.708q-1.643-.709-2.859-1.924t-1.925-2.856T3 12.003t.708-3.51t1.924-2.859t2.856-1.925T11.997 3t3.51.708t2.859 1.924t1.925 2.856t.709 3.509t-.708 3.51t-1.924 2.859t-2.856 1.925t-3.509.709'/%3E%3C/svg%3E");
}

.ucg-customizer-chooser-input-no-preview {
    /* visibility: hidden; */
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

.chooser-option-checked {
    border: 1px solid var(--blue) !important;
}

.chooser-option-checked::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23266DD3' d='M12.003 21q-1.866 0-3.51-.708q-1.643-.709-2.859-1.924t-1.925-2.856T3 12.003t.708-3.51t1.924-2.859t2.856-1.925T11.997 3t3.51.708t2.859 1.924t1.925 2.856t.709 3.509t-.708 3.51t-1.924 2.859t-2.856 1.925t-3.509.709'/%3E%3C/svg%3E") !important;
}

.ucg-customizer-chooser-option-preview {
    width: 64px;
    aspect-ratio: 1/1;
}

.ucg-customizer-chooser-option-has-preview {
    width: max-content;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /*  */
    padding: 5px;
    margin: 1px 0;
    border: 1px solid transparent;
    transition: all 75ms linear;
}

.ucg-customizer-chooser-input-has-preview {
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

.ucg-customizer-chooser-option-has-preview::before {
    content: "";
    position: absolute;
    width: 18px;
    aspect-ratio: 1/1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%239cadce26' d='M12.003 21q-1.866 0-3.51-.708q-1.643-.709-2.859-1.924t-1.925-2.856T3 12.003t.708-3.51t1.924-2.859t2.856-1.925T11.997 3t3.51.708t2.859 1.924t1.925 2.856t.709 3.509t-.708 3.51t-1.924 2.859t-2.856 1.925t-3.509.709'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: 5px;
    top: 10px;
    transform: translateY(-50%);
    transition: all 75ms linear;
}

.ucg-customizer-chooser-option-has-preview:hover {
    border: 1px solid var(--blue-grey);
}

.ucg-customizer-chooser-option-has-preview:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%239CADCE' d='M12.003 21q-1.866 0-3.51-.708q-1.643-.709-2.859-1.924t-1.925-2.856T3 12.003t.708-3.51t1.924-2.859t2.856-1.925T11.997 3t3.51.708t2.859 1.924t1.925 2.856t.709 3.509t-.708 3.51t-1.924 2.859t-2.856 1.925t-3.509.709'/%3E%3C/svg%3E");
}

@media (max-width: 900px) {
    .ucg-customizer-container {
        position: absolute;
        z-index: 50;
        left: 0;
        background-color: white;
    }

    .side-menu-hide {
        left: -500px;
    }
}

@media (max-width: 550px) {
    .ucg-customizer-container {
        width: 90%;
    }

    .side-menu-hide {
        left: -90%;
    }
}